.animated-edge {
  animation: edge-flow 1s linear infinite;
}

@keyframes edge-flow {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -14;
  }
}

/* Minimap node styles */
.react-flow__minimap-node.minimap-start-node,
.react-flow__minimap-node.minimap-exit-node {
    rx: 100px;
}

.react-flow__minimap-node.minimap-decision-node {
    transform-origin: center;
    transform: rotate(45deg);
}

