:root {
  --background: #ffffff; /* white */
  --foreground: #09090b; /* zinc-950 */
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #09090b;
  --primary-foreground: #fafafa;
  --secondary: #f4f4f5; /* zinc-100 */
  --secondary-foreground: #09090b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a; /* zinc-500 */
  --accent: #f4f4f5;
  --accent-foreground: #09090b;
  --destructive: #dc2626; /* red-600 */
  --destructive-foreground: #fafafa;
  --border: #e4e4e7; /* zinc-200 */
  --input: #e4e4e7;
  --ring: #3b82f6; /* blue-500 */
  --radius: 0.5rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
